body {
  background-color: rgb(15, 15, 15);
  transition: background-color 2s;
  font-family: "Roboto", sans-serif;
}

.bloc,
.bloc-main-1,
.bloc-main-2,
.bloc-main-3 {
  background-color: rgb(27, 31, 35);
  transition: background-color 2s;
}

.bloc-hover-dark:hover {
  box-shadow: 2px 2px 10px 1px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s;
}

.bloc-hovered:hover {
  box-shadow: 2px 2px 10px 1px rgba(15, 15, 15, 0.3);
  transition: transform 0.3s;
}

.bloc-main-1 {
  border-radius: 25px 0 0 25px;
}

.bloc-main-3 {
  border-radius: 0 25px 25px 0;
}

.bloc {
  border-radius: 25px;
}

@media (width <= 992px) {
  .bloc-main-1 {
    border-radius: 25px 25px 0 0;
  }

  .bloc-main-3 {
    border-radius: 0 0 25px 25px;
  }
}

a {
  color: white;
}

#top-button {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 99;
  cursor: pointer;
  box-shadow: 2px 2px 10px 1px rgba(255, 255, 255, 0.3);
  background-color: #1b1f23;
  border-color: #1b1f23;
  border-radius: 20px;
}

#bloc-main {
  max-width: 1400px;
}

#photo-profil {
  border-radius: 50px;
}

#theme-button {
  color: #1b1f23;
}

#image-project {
  border-radius: 30px;
}

#font-size-project {
  font-size: 0.8rem;
}

#projectModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 1s;
}

.modal-content {
  background-color: #1b1f23;
  border: 1px solid #1b1f23;
  border-radius: 25px;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.modal-content-inner {
  text-align: center;
  color: white;
}

.close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

#modalProjectImage {
  margin-top: 20px;
  border-radius: 30px;
}